<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.e_suratpermintaan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/logo_cornered_radius"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo_cornered_radius"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">
        <activity android:name=".presentation.activity.WebViewActivity" />
        <activity android:name=".presentation.activity.EditSuratPermintaanActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".presentation.activity.DetailHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".presentation.activity.HistorySuratPermintaanActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <service
            android:name=".framework.fcm.FCMService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".presentation.activity.NotifikasiActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".presentation.activity.StarterActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.e-suratpermintaan.fcm" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.activity.DetailSuratPermintaanActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".presentation.activity.ProfileActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>